<div class="container mt-5">
    <h2>My Bookings</h2>
  
    <div *ngIf="userBookings.length === 0">
      <p>No bookings found.</p>
    </div>
  
    <div *ngFor="let booking of userBookings" class="booking-card">
      <h3>{{ booking.roomTitle }}</h3>
      <p><strong>Room Name:</strong> {{ booking.title }}</p>
      <p><strong>Check-in:</strong> {{ booking.checkIn }}</p>
      <p><strong>Check-out:</strong> {{ booking.checkOut }}</p>
      <p><strong>Price:</strong> ${{ booking.totalAmount }}</p>
    </div>
  </div>
  